Repository just-llms/justllms, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, tests, dependencies, ci, config, provider, llm, routing, analytics, conversations, caching, examples, security

.github/labeler.yml:

# Configuration for GitHub labeler action
# This file defines which labels to apply based on file paths

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'

# Core functionality
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/core/**'
      - 'justllms/__init__.py'
      - 'justllms/__version__.py'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*test*.py'
      - '**/*_test.py'
      - '**/test_*.py'
      - 'pytest.ini'
      - '.coveragerc'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'setup.py'
      - 'setup.cfg'
      - 'Pipfile'
      - 'Pipfile.lock'
      - 'poetry.lock'

# CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/*.yml'
      - '.github/*.yaml'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.json'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '*.cfg'
      - '.env*'
      - '.*rc'
      - '.*config.*'
      - '.github/**/*.yml'
      - '.github/**/*.yaml'

# Provider-specific changes
provider:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/providers/**'
      - 'justllms/core/providers/**'

# LLM/Model changes
llm:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/models/**'
      - 'justllms/core/models/**'
      - '**/model_*.py'
      - '**/*_model.py'

# Routing changes
routing:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/routing/**'
      - 'justllms/core/routing/**'
      - '**/router*.py'

# Analytics and monitoring changes
analytics:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/analytics/**'
      - 'justllms/monitoring/**'
      - '**/analytics*.py'
      - '**/dashboard*.py'
      - '**/metrics*.py'

# Conversation management changes
conversations:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/conversations/**'
      - '**/conversation*.py'
      - '**/storage*.py'

# Cache-related changes
caching:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/cache/**'
      - 'justllms/core/cache/**'
      - '**/cache*.py'

# Examples
examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - 'notebooks/**'
      - '*.ipynb'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth*.py'
      - '**/security*.py'
      - '**/token*.py'
      - '**/crypt*.py'
      - '.github/dependabot.yml'

updated package configs
  README.md
Labels: documentation

updated
  README.md
Labels: documentation

feat: implement cluster-based routing strategy and add related artifacts
  README.md
  justllms/data/__init__.py
  justllms/data/cluster_artifacts/cluster_centers.npy
  justllms/data/cluster_artifacts/cluster_rankings.json
  justllms/data/cluster_artifacts/metadata.json
  justllms/data/cluster_artifacts/normalizer.joblib
  justllms/embeddings/__init__.py
  justllms/embeddings/qwen_service.py
  justllms/routing/cluster_loader.py
  justllms/routing/router.py
  justllms/routing/strategies.py
  pyproject.toml
  requirements.txt
Labels: documentation, dependencies, config, routing

refactor: reorganize imports and enhance error handling in embedding and routing services
  justllms/embeddings/qwen_service.py
  justllms/routing/cluster_loader.py
  justllms/routing/strategies.py
  pyproject.toml
Labels: dependencies, config, routing

linting fix
  justllms/data/__init__.py
  justllms/embeddings/__init__.py
  justllms/embeddings/qwen_service.py
  justllms/routing/cluster_loader.py
  justllms/routing/strategies.py
Labels: routing

fix: ruff issues
  justllms/embeddings/qwen_service.py
Labels: none

added ref
  README.md
Labels: documentation

removed unused validators
  justllms/analytics/reports.py
  justllms/utils/retry.py
  justllms/utils/validators.py
Labels: analytics

formatting fix
  justllms/utils/validators.py
Labels: none

fix: linting issues
  justllms/config/config.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/core/models.py
  justllms/providers/anthropic.py
  justllms/providers/azure_openai.py
  justllms/providers/deepseek.py
  justllms/providers/google.py
  justllms/providers/grok.py
  justllms/providers/openai.py
  justllms/routing/router.py
Labels: core, provider, routing

docs: update README for clarity and feature enhancements
  README.md
Labels: documentation

chore: update version to 2.0.0 and refine project description in README and pyproject.toml
  README.md
  justllms/__version__.py
  pyproject.toml
Labels: documentation, core, dependencies, config

Update README.md
  README.md
Labels: documentation

updated docs
  README.md
Labels: documentation

chore: update docs
  README.md
Labels: documentation

chore: remove cache dependency
  README.md
  examples/caching.py
  examples/conversation_flow.py
  examples/streaming.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/providers/azure_openai.py
  justllms/providers/deepseek.py
  justllms/providers/grok.py
  justllms/routing/router.py
  justllms/routing/strategies.py
  pyproject.toml
  requirements.txt
Labels: documentation, core, dependencies, config, provider, routing, conversations, examples

fix: black
  justllms/routing/router.py
Labels: routing

feat: add sxs model comparison tool
  README.md
  justllms/__version__.py
  justllms/cli.py
  justllms/config/config.py
  justllms/providers/__init__.py
  justllms/sxs/__init__.py
  justllms/sxs/cli.py
  justllms/sxs/core/__init__.py
  justllms/sxs/core/executor.py
  justllms/sxs/models/__init__.py
  justllms/sxs/models/comparison.py
  pyproject.toml
  requirements.txt
Labels: documentation, core, dependencies, config, provider

feat: added sxs
  justllms/cli.py
  justllms/sxs/__init__.py
  justllms/sxs/cli.py
  justllms/sxs/core/__init__.py
  justllms/sxs/core/executor.py
  justllms/sxs/models/__init__.py
  justllms/sxs/models/comparison.py
Labels: none

feat: add sxs cli tool
  justllms/sxs/cli.py
Labels: none

chore: updated docs
  README.md
Labels: documentation

fix: remove config level timeout
  CHANGELOG.md
  README.md
  justllms/config/config.py
  justllms/core/models.py
Labels: documentation, core

fix: import issues of sxs
  MANIFEST.in
  README.md
  examples/basic_completions.py
  examples/configuration.py
  examples/cost_tracking.py
  examples/routing.py
  justllms/config/config.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/core/models.py
  justllms/core/openai_base.py
  justllms/embeddings/__init__.py
  justllms/exceptions/exceptions.py
  justllms/providers/anthropic.py
  justllms/providers/azure_openai.py
  justllms/providers/deepseek.py
  justllms/providers/google.py
  justllms/providers/grok.py
  justllms/providers/openai.py
  justllms/routing/router.py
  justllms/routing/strategies.py
  justllms/sxs/__init__.py
  justllms/sxs/cli.py
  justllms/sxs/core/__init__.py
  justllms/sxs/core/executor.py
  justllms/sxs/models/__init__.py
  justllms/utils/validators.py
  release.sh
  requirements.txt
  setup.py
Labels: documentation, core, dependencies, provider, routing, examples

added justagents
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

feat: added ollama provider
  README.md
  justllms/config/config.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/providers/__init__.py
  justllms/providers/ollama.py
  justllms/routing/strategies.py
  justllms/sxs/cli.py
Labels: documentation, core, provider, routing

fix: linting
  justllms/config/config.py
  justllms/providers/ollama.py
  justllms/sxs/cli.py
Labels: provider

chore: bumped up versions
  pyproject.toml
Labels: dependencies, config

chore: fixed release pipeline
  .github/workflows/release.yml
  .gitignore
Labels: ci, config

fix: remove redundant routing
  README.md
  justllms/config/config.py
  justllms/routing/__init__.py
  justllms/routing/router.py
  justllms/routing/strategies.py
  pyproject.toml
Labels: documentation, dependencies, config, routing

fix: cluster-based routing with lazy loading
  justllms/routing/router.py
  justllms/routing/strategies.py
Labels: routing

cluster-based routing with lazy loading
  justllms/__version__.py
Labels: core

feat: added provider configs support
  README.md
  justllms/__version__.py
  justllms/core/completion.py
  justllms/core/openai_base.py
  justllms/providers/azure_openai.py
  justllms/providers/google.py
  pyproject.toml
Labels: documentation, core, dependencies, config, provider

increase propagation wait
  .github/workflows/release.yml
Labels: ci, config

fix: indefinite timeout issue
  justllms/__version__.py
  justllms/core/base.py
  justllms/core/completion.py
  justllms/core/openai_base.py
  justllms/providers/anthropic.py
  justllms/providers/azure_openai.py
  justllms/providers/google.py
  justllms/providers/grok.py
  justllms/providers/ollama.py
  pyproject.toml
Labels: core, dependencies, config, provider

fix: gemini timeout issue
  justllms/providers/ollama.py
Labels: provider

fix: increase propagation wait time
  .github/workflows/release.yml
Labels: ci, config

feat: add provider agnostic streaming
  justllms/__version__.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/core/openai_base.py
  justllms/core/streaming.py
  justllms/providers/azure_openai.py
  justllms/providers/grok.py
  justllms/routing/router.py
  pyproject.toml
Labels: core, dependencies, config, provider, routing

feat: provider agnostic streaming
  justllms/core/client.py
  justllms/core/openai_base.py
  justllms/providers/azure_openai.py
  justllms/routing/router.py
Labels: core, provider, routing

chore: fix cluster based routing
  README.md
  justllms/__init__.py
  justllms/config/config.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/core/openai_base.py
  justllms/core/streaming.py
  justllms/data/cluster_artifacts/cluster_centers.npy
  justllms/data/cluster_artifacts/cluster_rankings.json
  justllms/data/cluster_artifacts/metadata.json
  justllms/data/cluster_artifacts/normalizer.joblib
  justllms/embeddings/__init__.py
  justllms/embeddings/qwen_service.py
  justllms/exceptions/__init__.py
  justllms/exceptions/exceptions.py
  justllms/providers/azure_openai.py
  justllms/providers/grok.py
  justllms/routing/__init__.py
  justllms/routing/cluster_loader.py
  justllms/routing/router.py
  justllms/routing/strategies.py
  justllms/sxs/cli.py
  justllms/utils/__init__.py
  justllms/utils/validators.py
  pyproject.toml
Labels: documentation, core, dependencies, config, provider, routing
