Repository just-llms/justllms, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, tests, dependencies, ci, config, provider, llm, routing, analytics, conversations, caching, examples, security

.github/labeler.yml:

# Configuration for GitHub labeler action
# This file defines which labels to apply based on file paths

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'

# Core functionality
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/core/**'
      - 'justllms/__init__.py'
      - 'justllms/__version__.py'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*test*.py'
      - '**/*_test.py'
      - '**/test_*.py'
      - 'pytest.ini'
      - '.coveragerc'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'setup.py'
      - 'setup.cfg'
      - 'Pipfile'
      - 'Pipfile.lock'
      - 'poetry.lock'

# CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/*.yml'
      - '.github/*.yaml'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.json'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '*.cfg'
      - '.env*'
      - '.*rc'
      - '.*config.*'
      - '.github/**/*.yml'
      - '.github/**/*.yaml'

# Provider-specific changes
provider:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/providers/**'
      - 'justllms/core/providers/**'

# LLM/Model changes
llm:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/models/**'
      - 'justllms/core/models/**'
      - '**/model_*.py'
      - '**/*_model.py'

# Routing changes
routing:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/routing/**'
      - 'justllms/core/routing/**'
      - '**/router*.py'

# Analytics and monitoring changes
analytics:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/analytics/**'
      - 'justllms/monitoring/**'
      - '**/analytics*.py'
      - '**/dashboard*.py'
      - '**/metrics*.py'

# Conversation management changes
conversations:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/conversations/**'
      - '**/conversation*.py'
      - '**/storage*.py'

# Cache-related changes
caching:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/cache/**'
      - 'justllms/core/cache/**'
      - '**/cache*.py'

# Examples
examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - 'notebooks/**'
      - '*.ipynb'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth*.py'
      - '**/security*.py'
      - '**/token*.py'
      - '**/crypt*.py'
      - '.github/dependabot.yml'

test: use specific exceptions and skip token test offline
  tests/test_cache.py
  tests/test_token_counter.py
Labels: tests

ci: add pytest job across Python 3.10-3.13
  .github/workflows/ci.yml
Labels: ci, config

ci: add pytest job across Python 3.10-3.13 (#47)
  .github/workflows/ci.yml
Labels: ci, config

fix: wrap httpx timeouts as RequestTimeoutError
  justllms/core/base.py
  justllms/core/streaming.py
  justllms/exceptions/__init__.py
  justllms/exceptions/exceptions.py
  justllms/reliability/fallback.py
  tests/test_fallback.py
  tests/test_http_errors.py
Labels: core, tests

chore: fix import order and mypy NoReturn on httpx wrapper
  justllms/exceptions/exceptions.py
  justllms/reliability/fallback.py
Labels: none

chore: fix import order and mypy NoReturn on httpx wrapper
  justllms/exceptions/exceptions.py
  justllms/reliability/fallback.py
Labels: none

fix: wrap httpx timeouts as RequestTimeoutError
  justllms/core/base.py
  justllms/core/streaming.py
  justllms/exceptions/__init__.py
  justllms/exceptions/exceptions.py
  justllms/reliability/fallback.py
  tests/test_fallback.py
  tests/test_http_errors.py
Labels: core, tests

fix: preserve tool_call_id in _create_standard_choice
  justllms/core/base.py
  tests/test_base_provider.py
Labels: core, tests

fix: preserve tool_call_id in _create_standard_choice
  justllms/core/base.py
  tests/test_base_provider.py
Labels: core, tests

fix: register provider aliases (xai/grok) on client init
  justllms/core/client.py
  tests/test_provider_aliases.py
Labels: core, tests

fix: register provider aliases (xai/grok) on client init
  justllms/core/client.py
  tests/test_provider_aliases.py
Labels: core, tests

fix: include tool fields in CompletionResponse.to_dict()
  justllms/core/completion.py
  tests/test_completion_response.py
Labels: core, tests

style: apply black formatting to completion.py
  justllms/core/completion.py
Labels: core

style: apply black formatting to completion.py
  justllms/core/completion.py
Labels: core

fix: include tool fields in CompletionResponse.to_dict()
  justllms/core/completion.py
  tests/test_completion_response.py
Labels: core, tests

fix: include tool fields in CompletionResponse.to_dict()
  justllms/core/completion.py
  tests/test_completion_response.py
Labels: core, tests

fix: register provider aliases (xai/grok) on client init
  justllms/core/client.py
  tests/test_provider_aliases.py
Labels: core, tests

fix: include tool fields in CompletionResponse.to_dict()
  justllms/core/completion.py
  tests/test_completion_response.py
Labels: core, tests

fix: include tool fields in CompletionResponse.to_dict()
  justllms/core/completion.py
  tests/test_completion_response.py
Labels: core, tests

fix: validate Message objects in validate_messages
  justllms/utils/validators.py
  tests/test_validators.py
Labels: tests

fix: validate Message objects in validate_messages
  justllms/utils/validators.py
  tests/test_validators.py
Labels: tests

Fix reset_usage() not clearing budget warn-once state
  justllms/core/client.py
  justllms/monitoring/budget.py
  tests/test_monitoring.py
Labels: core, tests, analytics

fix: accept Message objects in count_tokens and count tool fields
  justllms/utils/token_counter.py
  tests/test_token_counter.py
Labels: tests, security

feat: enhance support for OpenAI reasoning models and expand provider compatibility
  README.md
  justllms/core/openai_base.py
  justllms/providers/anthropic.py
  justllms/providers/azure_openai.py
  tests/test_anthropic_provider.py
  tests/test_reasoning_params.py
Labels: documentation, core, tests, provider

feat: expand tool calling support across multiple providers
  README.md
  justllms/core/base.py
  justllms/core/models.py
  justllms/providers/deepseek.py
  justllms/providers/grok.py
  justllms/providers/ollama.py
  justllms/tools/adapters/ollama.py
  tests/test_provider_tools.py
Labels: documentation, core, tests, provider

feat: update GrokProvider model configurations and pricing structure
  justllms/providers/grok.py
  tests/test_provider_tools.py
Labels: tests, provider

refactor: streamline tool management and HTTP request handling
  justllms/config/config.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/core/streaming.py
  justllms/reliability/fallback.py
  justllms/routing/router.py
  justllms/tools/__init__.py
  justllms/tools/decorators.py
  justllms/tools/executor.py
  justllms/tools/google.py
  justllms/tools/native/__init__.py
  justllms/tools/native/manager.py
  justllms/tools/registry.py
  justllms/utils/token_counter.py
  justllms/utils/validators.py
  pyproject.toml
Labels: core, dependencies, config, routing, security

fix: lint
  justllms/tools/__init__.py
  justllms/tools/decorators.py
  justllms/tools/native/manager.py
Labels: none

fix: ruff
  justllms/core/base.py
  justllms/core/streaming.py
  justllms/routing/router.py
  justllms/tools/decorators.py
  justllms/tools/native/manager.py
Labels: core, routing

chore: bump version to 2.1.10
  justllms/__version__.py
  pyproject.toml
Labels: core, dependencies, config

fix: handle null content in Azure tool-call responses
  justllms/providers/azure_openai.py
  tests/test_reasoning_params.py
Labels: tests, provider

fix: stop fabricating assistant text in Anthropic tool-call messages
  justllms/core/completion.py
  justllms/tools/adapters/anthropic.py
  justllms/tools/adapters/base.py
  justllms/tools/adapters/google.py
  justllms/tools/adapters/ollama.py
  justllms/tools/adapters/openai.py
  tests/test_anthropic_provider.py
Labels: core, tests

fix: honor max_retries and retry_delay from ProviderConfig
  justllms/core/base.py
  tests/test_base_provider_retry.py
Labels: core, tests
