Repository just-llms/justllms, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, tests, dependencies, ci, config, provider, llm, routing, analytics, conversations, caching, examples, security

chore: fix cluster routing
  justllms/__version__.py
  pyproject.toml
Labels: core, dependencies, config

feat: support for streaming
  README.md
  justllms/__version__.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/core/streaming.py
  justllms/providers/anthropic.py
  justllms/providers/google.py
  justllms/providers/ollama.py
  justllms/routing/router.py
  pyproject.toml
Labels: documentation, core, dependencies, config, provider, routing

feat: support for streaming for ollama
  justllms/core/client.py
  justllms/core/streaming.py
Labels: core

chore: added new badges
  README.md
Labels: documentation

feat: add tool calling support
  justllms/__init__.py
  justllms/cli.py
  justllms/config/config.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/core/models.py
  justllms/providers/anthropic.py
  justllms/providers/azure_openai.py
  justllms/providers/google.py
  justllms/providers/openai.py
  justllms/routing/router.py
  justllms/tools/__init__.py
  justllms/tools/adapters/__init__.py
  justllms/tools/adapters/anthropic.py
  justllms/tools/adapters/azure.py
  justllms/tools/adapters/base.py
  justllms/tools/adapters/google.py
  justllms/tools/adapters/openai.py
  justllms/tools/decorators.py
  justllms/tools/executor.py
  justllms/tools/google.py
  justllms/tools/models.py
  justllms/tools/native/__init__.py
  justllms/tools/native/google_tools.py
  justllms/tools/native/manager.py
  justllms/tools/registry.py
  justllms/tools/utils.py
Labels: core, provider, routing

feat: provider-agnostic tool calling
  justllms/__version__.py
  pyproject.toml
Labels: core, dependencies, config

chore: added tool calling docs
  README.md
Labels: documentation

docs(readme): add License section with MIT link
  README.md
Labels: documentation

feat: add support for new Google Gemini models
  README.md
  justllms/providers/google.py
  justllms/sxs/cli.py
  justllms/tools/native/google_tools.py
Labels: documentation, provider

feat: add support for new OpenAI and Azure models including GPT-5.5 and GPT-5.4 variants
  README.md
  justllms/providers/azure_openai.py
  justllms/providers/openai.py
  justllms/sxs/cli.py
  justllms/utils/token_counter.py
Labels: documentation, provider, security

feat: update Anthropic provider with new Claude models
  README.md
  justllms/providers/anthropic.py
  justllms/sxs/cli.py
  justllms/utils/token_counter.py
Labels: documentation, provider, security

feat: update DeepSeek provider with new model versions and improve token handling
  README.md
  justllms/__version__.py
  justllms/providers/deepseek.py
  justllms/sxs/cli.py
  justllms/utils/token_counter.py
  pyproject.toml
Labels: documentation, core, dependencies, config, provider, security

feat: enhance provider initialization and tool execution with improved error handling and timeout management
  justllms/core/client.py
  justllms/tools/executor.py
Labels: core

fix: update default tool execution behavior
  justllms/config/config.py
  justllms/core/base.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/core/streaming.py
  justllms/providers/azure_openai.py
  justllms/providers/grok.py
Labels: core, provider

refactor: fix type annotations
  justllms/core/client.py
  justllms/tools/executor.py
Labels: core

fix: quote SyncStreamResponse annotations for runtime import
  justllms/core/base.py
  justllms/core/completion.py
Labels: core

fix: handle empty YAML and JSON config files
  justllms/config/config.py
Labels: none

fix: allow empty content for assistant messages with tool_calls
  justllms/utils/validators.py
Labels: none

fix: prefer longest model prefix for token encoding lookup
  justllms/utils/token_counter.py
Labels: security

fix: populate tools_used when execute_tools is False
  justllms/core/completion.py
Labels: core

fix: detect Gemini native tools by camelCase API keys
  justllms/providers/google.py
Labels: provider

fix: prefer longest model prefix for token encoding lookup
  justllms/utils/token_counter.py
Labels: security

fix: improve token encoding lookup for model IDs
  justllms/utils/token_counter.py
Labels: security

fix: populate tools_used when execute_tools is False
  justllms/core/completion.py
Labels: core

fix: populate tools_used when execute_tools is False
  justllms/core/completion.py
Labels: core

fix: prefer longest model prefix for token encoding lookup
  justllms/utils/token_counter.py
Labels: security

fix: prefer longest model prefix for token encoding lookup
  justllms/utils/token_counter.py
Labels: security

fix: prefer longest model prefix for token encoding lookup
  justllms/utils/token_counter.py
Labels: security

fix: prefer longest model prefix for token encoding lookup
  justllms/utils/token_counter.py
Labels: security

fix: include tool_call_id in Azure OpenAI message formatting
  justllms/providers/azure_openai.py
Labels: provider

fix: allow empty content for tool role messages in validation
  justllms/utils/validators.py
Labels: none

fix: allow empty content for tool role messages in validation
  justllms/utils/validators.py
Labels: none

test: add regression test for token encoding prefix matching
  .gitignore
  tests/test_token_counter.py
Labels: tests

fix: populate tools_used when execute_tools is False
  justllms/core/completion.py
Labels: core

fix: populate tools_used when execute_tools is False
  justllms/core/completion.py
Labels: core

feat: add failure-driven provider fallback chains
  README.md
  justllms/config/config.py
  justllms/core/client.py
  justllms/core/completion.py
  justllms/reliability/__init__.py
  justllms/reliability/fallback.py
  tests/test_fallback.py
Labels: documentation, core, tests

feat: add usage tracking and budget limits
  README.md
  justllms/__init__.py
  justllms/config/config.py
  justllms/core/client.py
  justllms/core/streaming.py
  justllms/exceptions/__init__.py
  justllms/exceptions/exceptions.py
  justllms/monitoring/__init__.py
  justllms/monitoring/budget.py
  justllms/monitoring/usage.py
  tests/test_monitoring.py
Labels: documentation, core, tests, analytics

feat: add usage tracking and budget limits (#44)
  README.md
  justllms/__init__.py
  justllms/config/config.py
  justllms/core/client.py
  justllms/core/streaming.py
  justllms/exceptions/__init__.py
  justllms/exceptions/exceptions.py
  justllms/monitoring/__init__.py
  justllms/monitoring/budget.py
  justllms/monitoring/usage.py
  tests/test_monitoring.py
Labels: documentation, core, tests, analytics

feat: add response caching with memory and disk backends
  .gitignore
  README.md
  justllms/cache/__init__.py
  justllms/cache/base.py
  justllms/cache/disk.py
  justllms/cache/manager.py
  justllms/cache/memory.py
  justllms/config/__init__.py
  justllms/config/config.py
  justllms/core/client.py
  justllms/core/completion.py
  tests/test_cache.py
Labels: documentation, core, tests, caching

feat: add response caching with memory and disk backends (#46)
  .gitignore
  README.md
  justllms/cache/__init__.py
  justllms/cache/base.py
  justllms/cache/disk.py
  justllms/cache/manager.py
  justllms/cache/memory.py
  justllms/config/__init__.py
  justllms/config/config.py
  justllms/core/client.py
  justllms/core/completion.py
  tests/test_cache.py
Labels: documentation, core, tests, caching

.github/labeler.yml:

# Configuration for GitHub labeler action
# This file defines which labels to apply based on file paths

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'

# Core functionality
core:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/core/**'
      - 'justllms/__init__.py'
      - 'justllms/__version__.py'

# Test changes
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**'
      - '**/*test*.py'
      - '**/*_test.py'
      - '**/test_*.py'
      - 'pytest.ini'
      - '.coveragerc'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'pyproject.toml'
      - 'requirements*.txt'
      - 'setup.py'
      - 'setup.cfg'
      - 'Pipfile'
      - 'Pipfile.lock'
      - 'poetry.lock'

# CI/CD changes
ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - '.github/*.yml'
      - '.github/*.yaml'

# Configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.json'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '*.cfg'
      - '.env*'
      - '.*rc'
      - '.*config.*'
      - '.github/**/*.yml'
      - '.github/**/*.yaml'

# Provider-specific changes
provider:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/providers/**'
      - 'justllms/core/providers/**'

# LLM/Model changes
llm:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/models/**'
      - 'justllms/core/models/**'
      - '**/model_*.py'
      - '**/*_model.py'

# Routing changes
routing:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/routing/**'
      - 'justllms/core/routing/**'
      - '**/router*.py'

# Analytics and monitoring changes
analytics:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/analytics/**'
      - 'justllms/monitoring/**'
      - '**/analytics*.py'
      - '**/dashboard*.py'
      - '**/metrics*.py'

# Conversation management changes
conversations:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/conversations/**'
      - '**/conversation*.py'
      - '**/storage*.py'

# Cache-related changes
caching:
  - changed-files:
    - any-glob-to-any-file:
      - 'justllms/cache/**'
      - 'justllms/core/cache/**'
      - '**/cache*.py'

# Examples
examples:
  - changed-files:
    - any-glob-to-any-file:
      - 'examples/**'
      - 'notebooks/**'
      - '*.ipynb'

# Security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/auth*.py'
      - '**/security*.py'
      - '**/token*.py'
      - '**/crypt*.py'
      - '.github/dependabot.yml'
